@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  display: flex;

  flex-direction: column;
  
  text-align: center;
  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  background: rgb(4, 0, 13);
  color: #f5f5f5;

  height: 100vh;
}

h1 {
  padding: 0rem;
  text-align: center;
}

.paginas {
  display: flex;
  align-items: center;
}

div {
  text-align: center;

  margin-block: 2rem;

  background-color: rgb(8, 0, 27);
}

header {
    display: flex;

    align-items: center;

    justify-content: space-around;

    height: 5rem;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    margin-bottom: 5rem;
}

header ul {
    display: flex;

    width: 40rem;

    justify-content: space-between;
    align-items: center;
}

header ul li {
    display: flex;
    background-color: rgb(6, 0, 21);

    list-style: none;

    align-items: center;
    justify-content: center;

    height: 2.5rem;
    width: 7rem;

    border: 0.15rem solid rgb(13, 0, 47);
}

header ul li a {
    text-decoration: none;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

header ul li:hover {
    transform: scale(1.1);
}

footer {
  color: rgb(46, 0, 161);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(13, 9, 34);
  width: 80vw;
  height: 75vh;
  border: #FFFFFF none 0px;
  border-radius: 2rem;
  margin-top: 4rem;

}

#sec1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 75vw;
  gap: 4rem;
  height: 50%;

  margin-bottom: 7.5rem;
}

li {
  border-radius: 0.25rem;
  margin-bottom: 0.2rem;
  background-color: #f5f5f5;
  color: black;
  list-style: none;
}

.ul {
  display: flex;
  flex-direction: row;
}

.ul li {
  margin-inline: 0.5rem;
}

#description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;

  border: #FFFFFF none 0px;
  border-radius: 2rem;

  padding-inline: 3rem;

  height: 100%;
}

#sec1 div a {
  display: inline-block;
  background-color: rgb(8, 0, 27);

  height: 2rem;
  width: 8rem;

  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;

  border: 0.15rem solid rgb(13, 0, 46);
}

#description h2 {
  font-size: 3.5rem;
}

#uls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 0.5rem;
}

p {
  background-color: black;
}